.parentbox_aboutproduct{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 1rem;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    overflow: hidden;

    .boximage_aboutproduct{
        width: 20rem;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
    }

    .box_rightproduct{
        max-width: 30rem;
        h2 {
            color: aliceblue;
            font-weight: 500;
            font-size: 2.5em;
            padding: 1rem;
            border-bottom: 1px solid #555;
        }
        p {
            color: aliceblue;
            line-height: 1.5rem;
            padding: .5rem 0;
        }
        .amount_product{
            border: 1px solid #555;
            width: 10rem;
            height: 3rem;
            border-radius: .5rem;
            -webkit-border-radius: .5rem;
            -moz-border-radius: .5rem;
            -ms-border-radius: .5rem;
            -o-border-radius: .5rem;
            display: flex;justify-content: center;
            align-items: center;color: aliceblue;
            span {
                font-weight: 500;
            }
}
    }
}
